body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #fff;
    font-family: 'Hammersmith One', sans-serif;
}

.header::after {
    content: "";
    height: 90vh;
    width: 100%;
    background-image: url(../img/kwikmart.png);
    background-size: cover; /* "Para cubrir la pantalla" */
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: all 1000ms;
}

.header:hover::after{
filter: blur(0px);
-webkit-filter: blur(0px);
}


.header:hover .header-content{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.header-content {
    position: absolute; /* "Para poner el contenido uno sobre otro y no en bloque" */
    z-index: 1;
    top: 5%;
    left: 50%;
    margin-top: 15px;
    margin-left: -145px;
    text-align: center;
    width: 250px;
    height: 250px;
    transition: all 1000ms;
}

.header-content .logo {  /* Para ajustar imagen logo en landscape */
    height: 250px;
    width: 150px;
}


.title {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
}

.text {
    line-height: 1.1; /* iNTERLINEADO */
    margin-top: 1rem;
    color: black;
    text-align: center;    
}

.text1 {
    color: black;
    border-style: groove;
    background: white;
    text-size-adjust: 100px;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.text-center {
    text-align: center;
    margin: auto;
}

.bg-light {
    background: #fff;
    color: #333;
}

.bg-dark {
    background: #2f3542;
    color: #fff;
}

.services {
    padding: 2rem 0;
}

footer {
    padding: 2.2rem;
}

footer p {
    margin: 0;
}


@media(max-width: 560px) {
    .header::after {
        height: 60vh;
    }

    .header-content {
        top: 5%;
        margin-top: 5px;
    }

    .header-content .logo {
        height: 200px;
        width: 200px;
    }

    .header-content .text {
        display: none;
    }

    .grid-3, .grid-2 {
        grid-template-columns: 1fr;
    }

    .services {
        padding: 1rem 1rem;
    }

}

@media(max-height: 500px) {
    .header-content .text {
        display: none;
    }
    .header-content {
        top: 0;
    }
}
